.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container > h3 {
  padding-left: 1rem;
}

.people-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 1rem;
  }
  .people-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
