.loader {
  border: 2px solid;
  border-color: transparent var(--primaryColor);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s infinite;
  animation-timing-function: linear;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1.4rem solid;
  border-color: transparent var(--primaryBackgroundColor);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
